<mat-toolbar color="primary" fxLayoutGap="8 px">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon svgIcon="lemon"></mat-icon>
  <a mat-button [routerLink]="[ '/home']">
    <span class="mat-h2">LemonMart</span>
  </a>
  <span class="flex-spacer"></span>
  <button *ngIf='displayAccountIcons' mat-mini-fab routerLink="[/user/profile]" matTooltip="profile" aria-label="Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button *ngIf='displayAccountIcons' mat-mini-fab routerLink="[/user/logout]" matTooltip="logout" aria-label="Logout">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
